<div class="container-content content-secondary">
  {{#compare data.primaryResponse.hits.total ">" 0 ~}}

  {{#with @root.data.primaryResponse.hits.hits.[0]._source as |organisation| ~}}

  {{> organisation_full organisation}}

  {{!-- {{#compare @root.data.organisationOpportunities.events_upcoming.hits.total ">" 0 ~}}
  <hr />
  <div class="mdc-typography--headline5">
    Upcoming events
  </div>
  {{#each @root.data.organisationOpportunities.events_upcoming.hits.hits ~}}
  {{> event_list _source}}
  {{/each ~}}
  {{/compare ~}} --}}

  {{#compare @root.data.organisationOpportunities.opportunities_open.hits.total ">" 0 ~}}
  <hr />
  <div class="mdc-typography--headline5">
    Current {{inflect @root.data.organisationOpportunities.opportunities_open.hits.total "opportunity" "opportunities"}}
  </div>
  {{#each @root.data.organisationOpportunities.opportunities_open.hits.hits ~}}
  {{> opportunity_list _source}}
  {{/each ~}}
  {{/compare ~}}

  {{#compare @root.data.organisationOpportunities.opportunities_closed.hits.total ">" 0 ~}}
  {{#compare @root.data.organisationOpportunities.opportunities_open.hits.total "===" 0 ~}}
  <hr />
  {{/compare ~}}
  <div class="mdc-typography--headline5">
    Closed {{inflect @root.data.organisationOpportunities.opportunities_closed.hits.total "opportunity" "opportunities"}}
  </div>
  {{#each @root.data.organisationOpportunities.opportunities_closed.hits.hits ~}}
  {{> opportunity_list _source}}
  {{/each ~}}
  {{/compare ~}}

  {{#compare @root.data.organisationOpportunities.opportunities_open.hits.total "===" 0 ~}}
  {{#compare @root.data.organisationOpportunities.opportunities_closed.hits.total "===" 0 ~}}
  <hr />
  <div class="mdc-typography--headline6">
    There are no current or recently closed opportunities available
  </div>
  {{/compare ~}}
  {{/compare ~}}

  {{/with ~}}
  {{else}}
  <p>
    <strong>Error:</strong> the requested organisation could not be found.
  </p>
  {{/compare ~}}
</div>