<div class="container-fluid container-content v-padding-full h-padding" style="margin: 0 auto;">
  <h1 class="mdc-typography--headline3">Be a coronavirus volunteer in your community</h1>
  <div class="mdc-typography--headline7 b-margin">
    Admin
  </div>
  <p class="mdc-typography--body1">
    All sign-ups with TSI/VC sharing consent set:
  </p>
  <table>
    <tr>
      <th class="text-left"><strong>TSI/VC</strong></th>
      <th class="text-left"><strong>Sign-ups</strong></th>
    </tr>
    {{#each @root.data.results.records ~}}
    <tr>
      <td class="text-left">{{{tsi}}}</td>
      <td class="text-left">{{submissions}}</td>
    </tr>
    {{/each ~}}
  </table>
</div>
