<div class="container-fluid container-content v-padding-full h-padding" style="margin: 0 auto;">
  <h1 class="mdc-typography--headline3">Be a coronavirus volunteer in your community</h1>
  <div class="mdc-typography--headline7">
    Thank you for your interest in volunteering in response to coronavirus
  </div>

  <div class="bg-grey v-margin-full">
    <h3 class="mdc-typography--headline6">
      Sign up to volunteer for organisations in your community
    </h3>
    {{#compare @root.request.url.pathname "/coronavirus/thanks" ~}}
    {{> coronavirus_sign_up_thanks}}
    {{else}}
    {{> coronavirus_sign_up}}
    {{/compare ~}}
  </div>

  <h2 class="mdc-typography--headline4">Stay safe</h2>
  <p class="mdc-typography--body1">
    Remember, the most important contribution everyone can make is to stay at home to help protect ourselves and others. Those who are well and not at risk can provide essential support for their family, friends and neighbours who cannot leave the house. Find out how to do that safely on <a href="https://www.readyscotland.org/coronavirus">Ready Scotland</a>.
  </p>

  <h2 class="mdc-typography--headline4">Other ways you can help&hellip;</h2>
  <div class="mdc-layout-grid b-margin-full">
    <div class="mdc-layout-grid__inner">
      <a href="https://careers.nhs.scot/coronavirus-covid-19-recruitment" class="mdc-layout-grid__cell--span-4-desktop mdc-layout-grid__cell--span-8-tablet mdc-layout-grid__cell--span-4-phone bg-blue noext link-block">
        <h3 class="mdc-typography--headline6">Are you a former NHS employee?</h3>
        <p class="mdc-typography--body1">
          <span class="hover-underline">Sign-up to return to work to help tackle the coronavirus pandemic</span>
        </p>
      </a>
      <a href="https://reserves.redcross.org.uk" class="mdc-layout-grid__cell--span-4-desktop mdc-layout-grid__cell--span-8-tablet mdc-layout-grid__cell--span-4-phone bg-red noext link-block">
        <h3 class="mdc-typography--headline6">Do you want to help in crisis response?</h3>
        <p class="mdc-typography--body1">
          <span class="hover-underline">Sign-up to be a Red Cross Community Reserve Volunteer</span>
        </p>
      </a>
      <a href="https://nationalemergenciestrust.org.uk/coronavirus" class="mdc-layout-grid__cell--span-4-desktop mdc-layout-grid__cell--span-8-tablet mdc-layout-grid__cell--span-4-phone bg-purple noext link-block">
        <h3 class="mdc-typography--headline6">Do you want to contribute money to help local organisations?</h3>
        <p class="mdc-typography--body1">
          <span class="hover-underline">Donate through the National Emergencies Trust</span>
        </p>
      </a>
    </div>
  </div>
</div>
