<div class="container-fluid">
  <div class="mdc-layout-grid h-padding-full">
    <div class="mdc-layout-grid__inner">
      <div class="mdc-layout-grid__cell--span-7-desktop">
        <h1 class="mdc-typography--headline3">Be a coronavirus volunteer in your community</h1>
        <p class="mdc-typography--headline7">
          Thank you for your interest in volunteering in response to the coronavirus crisis.
        </p>
        <p>
          The most important contribution everyone can make is to stay at home to help protect ourselves and others.
        </p>
        <p>
          However, those who are well and not at risk can provide essential support for their family, friends and neighbours who cannot leave the house. Find out how to do that safely on <a href="https://www.readyscotland.org/coronavirus/helping-in-your-community">Ready Scotland</a>.
        </p>
        <h2 class="mdc-typography--headline4">Other ways you can help&hellip;</h2>
        <div class="mdc-layout-grid">
          <div class="mdc-layout-grid__inner">
            <div class="mdc-layout-grid__cell--span-4-desktop">
              <h3 class="mdc-typography--headline6">Are you a former NHS employee?</h3>
              <p>
                Sign-up to return to work to help tackle the coronavirus pandemic
              </p>
            </div>
            <div class="mdc-layout-grid__cell--span-4-desktop">
              <h3 class="mdc-typography--headline6">Do you want to help in crisis response?</h3>
              <p>
                Sign-up to be a Red Cross Community Reserve Volunteer
              </p>
            </div>
            <div class="mdc-layout-grid__cell--span-4-desktop">
              <h3 class="mdc-typography--headline6">Do you want to contribute money to help local organisations?</h3>
              <p>
                Donate through the National Emergencies Trust
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="mdc-layout-grid__cell--span-5-desktop">
        {{#compare @root.request.url.pathname "/coronavirus/thanks" ~}}
        <h3 class="mdc-typography--headline6">
          Sign up for alerts
        </h3>
        <p>
          Thank you!
        </p>
        {{else}}
        {{> coronavirus_sign_up}}
        {{/compare ~}}
      </div>
    </div>
  </div>
</div>
